# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
.env

# -------------------------------
# Jupyter
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# Project data
# -------------------------------
data/
data/raw/
data/APPLE_DISEASE_DATASET/

# -------------------------------
# Model files
# -------------------------------
models/
*.pth
*.h5

# -------------------------------
# Large / temporary binaries
# -------------------------------
*.zip
*.tar
*.tar.gz
*.jpg
*.jpeg
*.png

# -------------------------------
# Logs and temp outputs
# -------------------------------
*.log
*.tmp
*.bak
*.swp

# -------------------------------
# IDE / OS-specific
# -------------------------------
.DS_Store
.vscode/
.idea/
